.template-noticeboard_view {
  ul {
    @include ul(plain);    
  }

  .collapsible-head {
    position: relative;
    cursor: pointer;

    .icon {
      display: block;
      position: absolute;
      top: 25%;
      right: 0;
      margin-right: $margin-horizontal;
      @extend .fa-icon;
      @extend .fa-plus-circle;
    }
    &.open .icon {
      @extend .fa-minus-circle; 
    }
  }
}

.template-category_view {
    .collapsible-head {
      display: none;
    }

    .collabsible-content[hidden] {
      display: block;
      margin-top: $margin-horizontal;
    }
}

.notice-detail-wrapper {

  display: flex;
  flex-wrap: nowrap;

  .notice-image-slider {
    width: 33%;
    img {
        width: 100%;
        height: auto;
    }
  }

  .notice-details {
    display: block;
    width: 67%;
    padding-left: $padding-horizontal;
  }

  .label {
    font-weight: normal;
    display: block
  }

  .value {
    font-weight: bold;
  }
}

.notice-description {
  margin: $margin-vertical 0;
  font-weight: bold;
}
